.root {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  max-height: 100dvh;
  overflow: auto;

  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--typography-body-one-font-size);
  line-height: var(--typography-body-one-line-height);

  color: var(--fg-normal);
}

.main {
  flex-grow: 1;

  padding: var(--spacings-s) var(--spacings-l);

  background-color: var(--bg-normal);

  overflow: auto;
}
